---
import "../styles/app.scss";
import Layout from "../layouts/Layout.astro";
import Item from "../components/Item.astro";
---

<Layout>
  <div class="wrapper">
    <div class="text">
      <h1>Steven Spielberg</h1>
    </div>
    <div class="content">
      <ul class="hover-list">
        <!-- <li class="hover-item" data-gl-img="./assets/img/common/img1.webp">
          <p>1</p>
          <p>Hoverしてみて！</p>
          <img src="./assets/img/common/img1.webp" alt="" />
        </li>
        <li class="hover-item" data-gl-img="./assets/img/common/img2.webp">
          <p>2</p>
          <p>Hoverしてみて！</p>
          <img src="./assets/img/common/img2.webp" alt="" />
        </li>
        <li class="hover-item" data-gl-img="./assets/img/common/img3.webp">
          <p>3</p>
          <p>Hoverしてみて！</p>
          <img src="./assets/img/common/img3.webp" alt="" />
        </li> -->
        <Item year="1975" name="Jaws" img="jaws" />
        <Item year="1981" name="Indiana Jones" img="indiana-jones" />
        <Item year="1982" name="ET" img="et" />
        <Item year="1985" name="Back to the Future" img="back-to-the-future" />
        <Item year="1990" name="Jurassic Park" img="jurassic-park" />
      </ul>
      <div class="plane"></div>
    </div>
  </div>
  <div id="webgl"></div>
</Layout>

<script src="../scripts/app.js"></script>
