---
const { year, name, img } = Astro.props;
---

<li class="hover-item" data-gl-img="./assets/img/common/img1.webp">
  <p class="year">({year})</p>
  <h2 class="name">{name}</h2>
  <img src=`./assets/img/common/${img}.webp` alt="" />
</li>
